################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/.vs/CSharp/v14/.suo
/CSharp/ApiTestApp/bin
/CSharp/ApiTestApp/obj
/CSharp/obj
/CSharp/packages
/CSharp/bin
/CodeProject/NNMF/bin
/CodeProject/NNMF/obj
/CodeProject/NNMF/packages
/CodeProject/Search3D/Backup
/CodeProject/Search3D/bin
/CodeProject/Search3D/obj
/CodeProject/Search3D/packages
